.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fef7ffcc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  display: flex;
  gap: 10px;
}

.dot {
  width: 15px;
  height: 15px;
  background: #ff79c6;
  border-radius: 50%;
  animation: bounce 0.6s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    background: #ff79c6;
  }
  50% {
    transform: translateY(-15px);
    background: #ffb6e6;
  }
}
